/* I will start with a universal pointer*/
*{
    text-align:center;
}

body{
    background-color:blueviolet;
}

.city{
    font-family:'Courier New', Courier, monospace;
    color:aqua;
    font-size:150%;
}

#blue{
    color:blue;
}

.green{
    color:green;
}

h2{
    font-style: italic;
}


h3,h4,h5{
    font-size:1000%;
}

.margined{
    margin: 10px;
}

.paddinged{
    padding-top:200px;
    padding-bottom:30px;
}

.outlined{
    outline-style: auto;
    outline-width: 10px;
    outline-color:aqua;
}

img.middle{
    vertical-align:middle;
}